/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;
#include "rk3399-m701.dtsi"

/ {
	compatible = "rockchip,rk3399-tve1030g", "rockchip,rk3399";

	rt5640-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchiprt5640c";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Mic Jack", "MICBIAS1",
			"IN1P", "Mic Jack",
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";
		simple-audio-card,cpu {
			sound-dai = <&i2s1>;
		};
		simple-audio-card,codec {
			sound-dai = <&rt5640>;
		};
	};

	leds {
                status = "okay";
                compatible = "gpio-leds";
		
		4g_en {
                        gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
                };
		4g_rst {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
		};
		usb_pwr {
			gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
		};
		3v3_pwr {
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
		};
		dvp_pwr {
			gpios = <&gpio4 26 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
		};
		rst_f {
			gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
		};
		pwn_f {
			gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;
                        default-state = "on";
		};
	};
};

&i2s0 {
	status = "disabled";
	
};

&i2s1 {
	status = "okay";
};


&i2c1 {
	status = "okay";
	i2c-scl-rising-time-ns = <140>;
        i2c-scl-falling-time-ns = <30>;

	rt5640: rt5640@1c {
		#sound-dai-cells = <0>;
		compatible = "realtek,rt5640";
		reg = <0x1c>;
		clocks = <&cru SCLK_I2S_8CH_OUT>;
		clock-names = "mclk";
		realtek,in1-differential;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s_8ch_mclk>;
		realtek,codec-en-gpio = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	tc358749x: tc358749x@0f {
                compatible = "toshiba,tc358749x";
                reg = <0x0f>;
                //power-gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
                //power18-gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
                //power33-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
                //csi-ctl-gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
                //stanby-gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
                reset-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
                int-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&hdmiin_gpios>;
                status = "okay";
        };
};

&i2c6 {
	status = "okay";
};

&isp0 {
	status = "okay";
};

&isp1 {
	status = "okay";
};

&isp0_mmu {
        status = "okay";
};

&isp1_mmu {
        status = "okay";
};

&dfi {
	status = "okay";
};

&dmc {
	status = "okay";
	center-supply = <&vdd_center>;
	system-status-freq = <
		/*system status         freq(KHz)*/
		SYS_STATUS_NORMAL       666000
		SYS_STATUS_REBOOT       666000
		SYS_STATUS_SUSPEND      328000
		SYS_STATUS_VIDEO_1080P  666000
		SYS_STATUS_VIDEO_4K     856000
		SYS_STATUS_VIDEO_4K_10B 856000
		SYS_STATUS_PERFORMANCE  856000
		SYS_STATUS_BOOST        856000
		SYS_STATUS_DUALVIEW     856000
		SYS_STATUS_ISP          856000
	>;
	vop-bw-dmc-freq = <
	/* min_bw(MB/s) max_bw(MB/s) freq(KHz) */
		0       762      416000
		763     3012     666000
		3013    99999     856000
	>;
	auto-min-freq = <328000>;
	auto-freq-en = <0>;
};

&dmc_opp_table {
	compatible = "operating-points-v2";

	opp-200000000 {
		opp-hz = /bits/ 64 <200000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-300000000 {
		opp-hz = /bits/ 64 <300000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-328000000 {
		opp-hz = /bits/ 64 <328000000>;
		opp-microvolt = <900000>;
	};
	opp-400000000 {
		opp-hz = /bits/ 64 <400000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-416000000 {
		opp-hz = /bits/ 64 <416000000>;
		opp-microvolt = <900000>;
	};
	opp-528000000 {
		opp-hz = /bits/ 64 <528000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-666000000 {
		opp-hz = /bits/ 64 <666000000>;
		opp-microvolt = <900000>;
	};
	opp-600000000 {
		opp-hz = /bits/ 64 <600000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-800000000 {
		opp-hz = /bits/ 64 <800000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-856000000 {
		opp-hz = /bits/ 64 <856000000>;
		opp-microvolt = <900000>;
	};
	opp-928000000 {
		opp-hz = /bits/ 64 <928000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-1056000000 {
		opp-hz = /bits/ 64 <1056000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
};

&pinctrl {

	lsm330_a {
		lsm330a_irq_gpio: lsm330a-irq-gpio {
			rockchip,pins = <3 1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lsm330_g {
		lsm330g_irq_gpio: lsm330g-irq-gpio {
			rockchip,pins = <3 0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
        ak8963 {
           ak8963_irq_gpio: ak8963-irq-gpio {
               rockchip,pins = <3 2 RK_FUNC_GPIO &pcfg_pull_none>;
           };
       };
	led {
                chg_red: chg-red {
                        rockchip,pins = <0 8 RK_FUNC_GPIO &pcfg_pull_none>;
                };
                chg_green: chg-green {
                        rockchip,pins = <0 13 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
	finger {
                finger_rst: finger-rst {
                        rockchip,pins = <3 12 RK_FUNC_GPIO &pcfg_pull_none>;
                };
                finger_int: finger-int {
                        rockchip,pins = <3 13 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

	nfc {
		nfc_ven:nfc-ven {
			rockchip,pins = <1 24 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		nfc_irq:nfc-irq {
			rockchip,pins = <1 9 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		nfc_fwd:nfc-fwd {
			rockchip,pins = <1 10 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	leadcore {
                lte_pwr: lte-pwr {
                        rockchip,pins = <1 23 RK_FUNC_GPIO &pcfg_pull_none>;
                };
                vcc_pwr: vcc-pwr {
                        rockchip,pins = <1 13 RK_FUNC_GPIO &pcfg_pull_none>;
                };
                lead_en: lead-en {
                        rockchip,pins = <1 0 RK_FUNC_GPIO &pcfg_pull_none>;
                };
                lead_rst: lead-rst {
                        rockchip,pins = <3 29 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

	hdmiin {
                hdmiin_gpios: hdmiin_gpios {
                rockchip,pins =
                                <2 5 RK_FUNC_GPIO &pcfg_pull_none>,
                                <2 4 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };
};
